extends /_include/_layout.pug

block title
  title 信用卡資訊 | LC E-SHOP
block content

  -
    var breadcrumbList = [
      {
        name: '首页',
        href: '/'
      },
      {
        name: '我的帳戶',
        href: '/ec/consumer/history/'
      },
      {
        name: '信用卡資訊',
        href: '/ec/consumer/card/add/'
      }
    ]
  include /_include/_breadcrumblist.pug


  section.lc-contentSection
    h1.lc-contentSection__title.lc-contentSection__title--center 信用卡資訊

    div.lc-contentsInner.lc-contentsInner--form
      form(action="/ec/consumer/history/", method="POST")

        ul.lc-form
          li.lc-form__item
            label.lc-form__label.lc-form__label--half
              h4.lc-form__title 信用卡卡号
              p.lc-form__detail
                input(type="text", placeholder="例如：1234567890123456")
              p
                small 请用半角数字输入
          li.lc-form__item
            label.lc-form__label.lc-form__label--half
              h4.lc-form__title 安全码
              p.lc-form__detail
                input(type="text")
            p.lc-form__note
              small
                | * 
                button.js-lc--openModal(
                  type="button"
                  aria-controls="modalCSC"
                  aria-haspopup="true"
                )
                  | 安全码位置
                  i.lc-icon--arrow2Right
          li.lc-form__item
            label.lc-form__label.lc-form__label--select
              h4.lc-form__title.is-required 信用卡有效日期
              p.lc-form__detail
                select(data-size="140")
                  option 请选择
                  - for (var i = 1; i <= 12; i++)
                    option #{i}
            label.lc-form__label.lc-form__label--select
              h4.lc-form__title
              p.lc-form__detail
                select(data-size="140")
                  option 请选择
                  - for (var i = 2019; i <= 2039; i++)
                    option #{i}
            p.lc-form__note
              small * 请注意，通常有效日期为月／年的顺序表示
          li.lc-form__item
            label.lc-form__label.lc-form__label--half
              h4.lc-form__title 持卡人姓名
              p.lc-form__detail
                input(type="text", placeholder="例如： Jun Ma")
              p
                small 可使用半角英文及半格
          li.lc-form__item
            label.lc-form__label.lc-form__label--select
              h4.lc-form__title.is-required 付款方式
              p.lc-form__detail
                select
                  option 请选择
                  option 一次性还款
            
        p.lc-contentsInner__buttons
          button.lc-button--submit.js-lc--openModal.js-lc--submit(
            type="button"
            aria-controls="modalPayment"
            aria-haspopup="true"
          )
            span.lc-button__label 登入
            i.lc-button__icon.lc-icon--arrow2Right
          button(type="button", onclick="history.back();").lc-button--cancel
            i.lc-button__icon.lc-icon--arrowLeft
            span.lc-button__label 返回

      .lc-modal#modalCSC
        .lc-modal__bg.js-lc--closeModal
        .lc-modal__body
          h3.lc-modal__title 安全码位置
          ul.lc-form
            li.lc-form__item
              p.lc-form__note
                small
                  | ・如使用VISA，MasterCard，JCB，Diners时，（请参照下图A）<br>
                  | 　卡片背面签名栏末三码数字<br>
                  | ・如使用American Express时，（请参照下图B）<br>
                  | 　卡片正面右上（或者左上）的四码数字
                img(src="/assets/img/img_securitycode.gif", alt="安全码", width="240")
                    
            p.lc-modal__buttons
              button(type="button").lc-button--cancel.js-lc--closeModal
                i.lc-button__icon.lc-icon--close
                span.lc-button__label 取消

      .lc-modal#modalPayment
        .lc-modal__bg
        .lc-modal__body
          h3.lc-modal__title 数据发送！
          p.lc-form__note.lc-align--center 一段时间，请耐心等待...

    include /_include/_mypage-navi.pug
        
  script.
    $(function () {
      $('.js-lc--submit').on('click', function () {
        setTimeout(function () {
          location.href = '/ec/cart/complete/';
        }, 1000);
      });
    })
