{# Reference: https://launchcart.jp/reference/4-%e6%b1%ba%e6%b8%88-%e9%85%8d%e9%80%81%e5%85%88%ef%bc%88%e9%9d%9e%e4%bc%9a%e5%93%a1%e8%b3%bc%e5%85%a5%ef%bc%89/ #}

{# Variables Settings #}

{# insert to html head title #}
{%- set title = #select_destination# -%}

{# end Variables Settings #}

{% TemplateInclude "header" %}

{# Contents #}

{# Breadcrumb list (this variable setting method is written in module template "breadcrumb list") #}
{%- set breadcrumbList = [] -%}
{%- set breadcrumbListItem = {
    name: #select_destination# ,
    href: app.request.uri
  }
-%}
{%- set breadcrumbList = breadcrumbList|merge([breadcrumbListItem]) -%}
{% TemplateInclude "breadcrumb list" %}

<section class="lc-contentSection">
  <h1 class="lc-contentSection__title lc-contentSection__title--center">{{ #select_destination# }}</h1>
  
  {# step list #}
  {%- set step = 2 -%}
  {% TemplateInclude "step list" %}

  <div class="lc-contentsInner lc-contentsInner--form">
    <p class="lc-contentSection__note lc-contentSection__note--center"><i class="is-required"></i>{{ #required_label# }}</p>
    {%- if not form.vars.valid -%}
      <p class="lc-contentSection__note error">{{ form_errors(form) }}</p>
    {%- endif -%}
    <form action="" method="POST" name="form1" id="form1" novalidate="novalidate">
      {{ form_widget(form._token) }}
      <ul class="lc-form">
        <li class="lc-form__item">
          <div class="lc-form__columns">
            <div class="lc-form__column">
              <label class="lc-form__label">
                <h4 class="lc-form__title is-required">{{ 'label.consumer.last_name' | trans({}, 'clients') }}</h4>
                <p class="lc-form__detail">
                  {{ form_widget(form.last_name) }}
                  {% if not form.last_name.vars.valid %}<span class="is-error error">{{ form_errors(form.last_name) }}</span>{% endif %}
                </p>
              </label>
            </div>
            <div class="lc-form__column">
              <label class="lc-form__label">
                <h4 class="lc-form__title is-required">{{ 'label.consumer.first_name' | trans({}, 'clients') }}</h4>
                <p class="lc-form__detail">
                  {{ form_widget(form.first_name) }}
                  {% if not form.first_name.vars.valid %}<span class="is-error error">{{ form_errors(form.first_name) }}</span>{% endif %}
                </p>
              </label>
            </div>
          </div>
        </li>
        <li class="lc-form__item">
          <label class="lc-form__label lc-form__label--select">
            <h4 class="lc-form__title is-required">{{ 'label.consumer.country' | trans({}, 'clients') }}</h4>
            <p class="lc-form__detail">
              {{ form_widget(form.country) }}
              {% if not form.country.vars.valid %}<span class="is-error error">{{ form_errors(form.country) }}</span>{% endif %}
            </p>
          </label>
        </li>
        <li class="lc-form__item">
          <div class="lc-form__columns js-lc--telJp">
            <div class="lc-form__column lc-form__column--natural">
              <label class="lc-form__label">
                <h4 class="lc-form__title is-required">{{ 'label.consumer.phone' | trans({}, 'clients') }}</h4>
                <p class="lc-form__detail">
                  {{ form_widget(form.tel1) }}
                </p>
              </label>
            </div>
            <div class="lc-form__column lc-form__column--natural">-</div>
            <div class="lc-form__column lc-form__column--natural">
              <label class="lc-form__label">
                <p class="lc-form__detail">
                  {{ form_widget(form.tel2) }}
                </p>
              </label>
            </div>
            <div class="lc-form__column lc-form__column--natural">-</div>
            <div class="lc-form__column lc-form__column--natural">
              <label class="lc-form__label">
                <p class="lc-form__detail">
                  {{ form_widget(form.tel3) }}
                </p>
              </label>
            </div>
          </div>
          <label class="lc-form__label js-lc--tel">
            <h4 class="lc-form__title is-required">{{ 'label.consumer.phone' | trans({}, 'clients') }}</h4>
            <p class="lc-form__detail">
              {{ form_widget(form.tel) }}
            </p>
          </label>
          {%- if not (form.tel1.vars.valid and form.tel2.vars.valid and form.tel3.vars.valid and form.tel.vars.valid) -%}<p class="lc-form__note error is-error">{{ form_errors(form.tel1) }}{{ form_errors(form.tel2) }}{{ form_errors(form.tel3) }}{{ form_errors(form.tel) }}</p>
          {%- endif -%}
        </li>
        <li class="lc-form__item">
          <label class="lc-form__label">
            <h4 class="lc-form__title is-required">{{ 'label.consumer.email' | trans({}, 'clients') }}</h4>
            <p class="lc-form__detail">
              {{ form_widget(form.email) }}
              {% if not form.email.vars.valid %}<span class="is-error error">{{ form_errors(form.email) }}</span>{% endif %}
            </p>
          </label>
        </li>
        <li class="lc-form__item">
          <div class="lc-form__columns js-lc--zipcodeJp">
            <div class="lc-form__column lc-form__column--natural">
              <label class="lc-form__label">
                <h4 class="lc-form__title is-required">{{ 'label.consumer.zipcode' | trans({}, 'clients') }}</h4>
                <p class="lc-form__detail">
                  {{ form_widget(form.zipcode1) }}
                </p>
              </label>
            </div>
            <div class="lc-form__column lc-form__column--natural">-</div>
            <div class="lc-form__column lc-form__column--natural">
              <label class="lc-form__label">
                <p class="lc-form__detail">
                  {{ form_widget(form.zipcode2) }}
                </p>
              </label>
            </div>
          </div>
          <label class="lc-form__label lc-form__label--half js-lc--zipcode">
            <h4 class="lc-form__title is-required">{{ 'label.consumer.zipcode' | trans({}, 'clients') }}</h4>
            <p class="lc-form__detail">
              {{ form_widget(form.zipcode) }}
            </p>
          </label>
          {%- if not (form.zipcode1.vars.valid and form.zipcode2.vars.valid and form.zipcode.vars.valid) -%}<p class="lc-form__note error is-error">{{ form_errors(form.zipcode1) }}{{ form_errors(form.zipcode2) }}{{ form_errors(form.zipcode) }}</p>
          {%- endif -%}
        </li>
        <li class="lc-form__item js-lc--district">
          <label class="lc-form__label">
            <h4 class="lc-form__title is-required">{{ 'label.consumer.district' | trans({}, 'clients') }}</h4>
            <p class="lc-form__detail">
              {{ form_widget(form.district) }}
              {% if not form.district.vars.valid %}<span class="is-error error">{{ form_errors(form.district) }}</span>{% endif %}
            </p>
          </label>
        </li>
        <li class="lc-form__item">
          <label class="lc-form__label js-lc--locality">
            <h4 class="lc-form__title is-required">{{ 'label.consumer.locality' | trans({}, 'clients') }}</h4>
            <p class="lc-form__detail">
              {{ form_widget(form.locality, { attr: { class: 'js-lc-selectAddress__input' } }) }}
              <input type="text" class="js-lc-selectAddressChina" name="locality_china" value="{{ app.request.get('locality_china') }}" readonly>
            </p>
          </label>
          <label class="lc-form__label lc-form__label--select js-lc--cityTw">
            <h4 class="lc-form__title is-required">{{ 'label.consumer.locality' | trans({}, 'clients') }}</h4>
            <p class="lc-form__detail">
              <select class="js-lc-selectAddressTaiwanCity" name="city_tw" data-value="{{ app.request.get('city_tw') }}"></select>
            </p>
          </label>
          <label class="lc-form__label lc-form__label--select js-lc--areaTw">
            <p class="lc-form__detail">
              <select class="js-lc-selectAddressTaiwanArea" name="area_tw" data-value="{{ app.request.get('area_tw') }}"></select>
            </p>
          </label>
          {% if not form.locality.vars.valid %}<p class="lc-form__note error is-error">{{ form_errors(form.locality) }}</p>{% endif %}
        </li>
        <li class="lc-form__item">
          <label class="lc-form__label">
            <h4 class="lc-form__title is-required">{{ 'label.consumer.street' | trans({}, 'clients') }}</h4>
            <p class="lc-form__detail">
              {{ form_widget(form.street) }}
              {% if not form.street.vars.valid %}<span class="is-error error">{{ form_errors(form.street) }}</span>{% endif %}
            </p>
          </label>
        </li>
      </ul>
      <h3 class="lc-heading--3">{{ #select_destination# }}</h3>
      <ul>
        <li class="lc-form__item">
          <div class="lc-form__label lc-form__label--plain">
            <p class="lc-form__detail">
              <input type="checkbox" class="js-lc--confirmShipAddress" name="ec_client_consumer_with_shipment_type[shipment_check][1]" id="ec_client_consumer_with_shipment_type_shipment_check_1" value="1" {% if (form.shipment_check.vars.value|length > 0) %}checked="checked"{% endif %} />
              <label for="ec_client_consumer_with_shipment_type_shipment_check_1">同一收貨地址是購買信息</label>
            </p>
          </div>
        </li>
      </ul>
      <div class="js-lc--shipAddressArea">
        <ul class="lc-form">
          <li class="lc-form__item">
            <div class="lc-form__columns">
              <div class="lc-form__column">
                <label class="lc-form__label">
                  <h4 class="lc-form__title is-required">{{ 'label.consumer.last_name' | trans({}, 'clients') }}</h4>
                  <p class="lc-form__detail">
                    {{ form_widget(form.ship_last_name) }}
                    {% if not form.ship_last_name.vars.valid %}<span class="is-error error">{{ form_errors(form.ship_last_name) }}</span>{% endif %}
                  </p>
                </label>
              </div>
              <div class="lc-form__column">
                <label class="lc-form__label">
                  <h4 class="lc-form__title is-required">{{ 'label.consumer.first_name' | trans({}, 'clients') }}</h4>
                  <p class="lc-form__detail">
                    {{ form_widget(form.ship_first_name) }}
                    {% if not form.ship_first_name.vars.valid %}<span class="is-error error">{{ form_errors(form.ship_first_name) }}</span>{% endif %}
                  </p>
                </label>
              </div>
            </div>
          </li>
          <li class="lc-form__item">
            <label class="lc-form__label lc-form__label--select">
              <h4 class="lc-form__title is-required">{{ 'label.consumer.country' | trans({}, 'clients') }}</h4>
              <p class="lc-form__detail">
                {{ form_widget(form.ship_country) }}
                {% if not form.ship_country.vars.valid %}<span class="is-error error">{{ form_errors(form.ship_country) }}</span>{% endif %}
              </p>
            </label>
          </li>
          <li class="lc-form__item">
            <div class="lc-form__columns js-lc--telJp">
              <div class="lc-form__column lc-form__column--natural">
                <label class="lc-form__label">
                  <h4 class="lc-form__title is-required">{{ 'label.consumer.phone' | trans({}, 'clients') }}</h4>
                  <p class="lc-form__detail">
                    {{ form_widget(form.ship_tel1) }}
                  </p>
                </label>
              </div>
              <div class="lc-form__column lc-form__column--natural">-</div>
              <div class="lc-form__column lc-form__column--natural">
                <label class="lc-form__label">
                  <p class="lc-form__detail">
                    {{ form_widget(form.ship_tel2) }}
                  </p>
                </label>
              </div>
              <div class="lc-form__column lc-form__column--natural">-</div>
              <div class="lc-form__column lc-form__column--natural">
                <label class="lc-form__label">
                  <p class="lc-form__detail">
                    {{ form_widget(form.ship_tel3) }}
                  </p>
                </label>
              </div>
            </div>
            <label class="lc-form__label js-lc--tel">
              <h4 class="lc-form__title is-required">{{ 'label.consumer.phone' | trans({}, 'clients') }}</h4>
              <p class="lc-form__detail">
                {{ form_widget(form.ship_tel) }}
              </p>
            </label>
            {%- if not (form.ship_tel1.vars.valid and form.ship_tel2.vars.valid and form.ship_tel3.vars.valid and form.ship_tel.vars.valid) -%}<p class="lc-form__note error is-error">{{ form_errors(form.ship_tel1) }}{{ form_errors(form.ship_tel2) }}{{ form_errors(form.ship_tel3) }}{{ form_errors(form.ship_tel) }}</p>
            {%- endif -%}
          </li>
          <li class="lc-form__item">
            <div class="lc-form__columns js-lc--zipcodeJp">
              <div class="lc-form__column lc-form__column--natural">
                <label class="lc-form__label">
                  <h4 class="lc-form__title is-required">{{ 'label.consumer.zipcode' | trans({}, 'clients') }}</h4>
                  <p class="lc-form__detail">
                    {{ form_widget(form.ship_zipcode1) }}
                  </p>
                </label>
              </div>
              <div class="lc-form__column lc-form__column--natural">-</div>
              <div class="lc-form__column lc-form__column--natural">
                <label class="lc-form__label">
                  <p class="lc-form__detail">
                    {{ form_widget(form.ship_zipcode2) }}
                  </p>
                </label>
              </div>
            </div>
            <label class="lc-form__label lc-form__label--half js-lc--zipcode">
              <h4 class="lc-form__title is-required">{{ 'label.consumer.zipcode' | trans({}, 'clients') }}</h4>
              <p class="lc-form__detail">
                {{ form_widget(form.ship_zipcode) }}
              </p>
            </label>
            {%- if not (form.ship_zipcode1.vars.valid and form.ship_zipcode2.vars.valid and form.ship_zipcode.vars.valid) -%}<p class="lc-form__note error is-error">{{ form_errors(form.ship_zipcode1) }}{{ form_errors(form.ship_zipcode2) }}{{ form_errors(form.ship_zipcode) }}</p>
            {%- endif -%}
          </li>
          <li class="lc-form__item js-lc--district">
            <label class="lc-form__label">
              <h4 class="lc-form__title is-required">{{ 'label.consumer.district' | trans({}, 'clients') }}</h4>
              <p class="lc-form__detail">
                {{ form_widget(form.ship_district) }}
                {% if not form.ship_district.vars.valid %}<span class="is-error error">{{ form_errors(form.ship_district) }}</span>{% endif %}
              </p>
            </label>
          </li>
          <li class="lc-form__item">
            <label class="lc-form__label js-lc--locality">
              <h4 class="lc-form__title is-required">{{ 'label.consumer.locality' | trans({}, 'clients') }}</h4>
              <p class="lc-form__detail">
                {{ form_widget(form.ship_locality, { attr: { class: 'js-lc-selectAddress__input' } }) }}
                <input type="text" class="js-lc-selectAddressChina" name="locality_china" value="{{ app.request.get('locality_china') }}" readonly>
              </p>
            </label>
            <label class="lc-form__label lc-form__label--select js-lc--cityTw">
              <h4 class="lc-form__title is-required">{{ 'label.consumer.locality' | trans({}, 'clients') }}</h4>
              <p class="lc-form__detail">
                <select class="js-lc-selectAddressTaiwanCity" name="city_tw" data-value="{{ app.request.get('city_tw') }}"></select>
              </p>
            </label>
            <label class="lc-form__label lc-form__label--select js-lc--areaTw">
              <p class="lc-form__detail">
                <select class="js-lc-selectAddressTaiwanArea" name="area_tw" data-value="{{ app.request.get('area_tw') }}"></select>
              </p>
            </label>
            {% if not form.ship_locality.vars.valid %}<p class="lc-form__note error is-error">{{ form_errors(form.ship_locality) }}</p>{% endif %}
          </li>
          <li class="lc-form__item">
            <label class="lc-form__label">
              <h4 class="lc-form__title is-required">{{ 'label.consumer.street' | trans({}, 'clients') }}</h4>
              <p class="lc-form__detail">
                {{ form_widget(form.ship_street) }}
                {% if not form.ship_street.vars.valid %}<span class="is-error error">{{ form_errors(form.ship_street) }}</span>{% endif %}
              </p>
            </label>
          </li>
        </ul>
      </div>
      <p class="lc-contentSection__note lc-contentSection__note--center"> 
        <input class="js-confirmConsent" id="checkbox_1" type="checkbox"/>
        <label for="checkbox_1">{{ #concent_privacy_policy# }}</label><a class="lc-button--cancel js-lc--closeModal" href="{{ path('homepage') }}privacy" target="_blank"><span class="lc-button__label">{{ #privacy_policy_label# }}</span><i class="lc-button__icon lc-icon--arrowRight"></i></a>
      </p>
      <p class="lc-contentsInner__buttons">
        <button class="lc-button--submit" type="submit"><span class="lc-button__label">{{ #confirm_label# }}</span><i class="lc-button__icon lc-icon--arrowRight"></i></button>
      </p>
      {% TemplateInclude "address scripts" %}
    </form>
  </div>
</section>

{# end Contents #}

{% TemplateInclude "footer" %}