{# Reference: https://launchcart.jp/reference/10-%e6%b1%ba%e6%b8%88-%e6%94%af%e6%89%95%e7%a2%ba%e8%aa%8d%ef%bc%88%e9%8a%80%e8%81%af%ef%bc%89/ #}

{# Variables Settings #}

{# insert to html head title #}
{%- set title = #payment_result_label# -%}

{# get base currency unit #}
{%- set baseCurrency = get_entity_manager().find('EcCoreBundle:Currency', system_config('base_currency')) -%}
{%- set baseUnitFront = baseCurrency.getBeforeUnit() -%}
{%- set baseUnitBack = baseCurrency.getAfterUnit() -%}

{# end Variables Settings #}

{% TemplateInclude "header" %}

{# Contents #}

{# Breadcrumb list (this variable setting method is written in module template "breadcrumb list") #}
{%- set breadcrumbList = [] -%}
{%- set breadcrumbListItem = {
    name: #payment_result_label# ,
    href: app.request.uri
  }
-%}
{%- set breadcrumbList = breadcrumbList|merge([breadcrumbListItem]) -%}
{% TemplateInclude "breadcrumb list" %}

<section class="lc-contentSection">
  <h1 class="lc-contentSection__title lc-contentSection__title--center">{{ #payment_result_label# }}</h1>
  
  {# step list #}
  {%- set step = 7 -%}
  {% TemplateInclude "step list" %}

  <div class="lc-contentsInner lc-contentsInner--form">

    <p class="lc-contentSection__note lc-contentSection__note--center lc-contentSection__note--large">{{ #message_order_complete# | raw }}</p>
    <table class="lc-table lc-table--wide">
      <tr>
        <th>{{ #order_number_label# }}</th>
        <td>{{ orderStr }}</td>
      </tr>
      <tr>
        <th>{{ #total_cost_label# }}({{ baseUnitFront }}{{ baseUnitBack }})</th>
        <td>{{ baseUnitFront }}{{ total|price_format(decimalPoint) }}{{ baseUnitBack }}</td>
      </tr>
      <tr>
        <th>{{ #transaction_id_label# }}</th>
        <td>{{ transactionId }}</td>
      </tr>
      <tr>
        <th>{{ #transaction_status_label# }}</th>
        <td>{{ status }}</td>
      </tr>
      <tr>
        <th>{{ #transaction_date_label# }}</th>
        <td>{{ time }}</td>
      </tr>
    </table>
    <p class="lc-contentsInner__buttons"><a class="lc-button--submit" href="{{ path("homepage") }}"><i class="lc-button__icon lc-icon--arrowLeft"></i><span class="lc-button__label">{{ #back_to_top_label# }}</span></a></p>

  </div>
</section>

{# end Contents #}

{% TemplateInclude "footer" %}